@import "tailwindcss";

/*--------- COLORS ----------*/

:root {
  --color-primary: #f091ac;
  --color-secondary: #fce4ec;
  --color-peach: #f7c3b1;
  --color-green: #9ccfa3;
  --color-blue: #c7dceb;
  --color-yellow: #f6e6a6;
  --color-light-yellow: #fff1c1;

  --color-bg-vanilla: #fff8fa;
  --color-dark-gray: #4b5563; /* für text */
  --color-light-gray: #e5e7eb;

  --color-warnung: #f3a6a6;
  --color-skyblue: #e8f0f6;
  --color-success: #7bc47f;

  --color-primary-50: #f7c8d5; /*  50% primary */
  --color-light-pink: #fff5f9; /* für body bg */
  --color-Deep-Wine: #61033b; /* von logo */
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
}

body {
  background: linear-gradient(
    135deg,
    var(--color-bg-vanilla) 0%,
    var(--color-secondary) 45%,
    var(--color-skyblue) 80%
  );
  /* background-color: var(--color-light-pink); */

  background-attachment: fixed;
  color: var(--color-dark-gray);
}
/*--------- HEADLINES ----------*/

h2 {
  font-family: "Bubblegum Sans", sans-serif;
  color: var(--color-primary);
  font-weight: bold;
}
.module-headline {
  color: var(--color-dark-gray);
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 1.5rem;
}
h1 {
  font-size: 3rem;
  font-family: "Bubblegum Sans", sans-serif;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-family: "Bubblegum Sans", sans-serif;
}
/*--------- Buttons primary ----------*/

@property --a {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

.btn-primary {
  --a: ;
  --x: 50;
  --y: 50;

  position: relative;
  border: 0;
  border-radius: 999px;

  padding: 17px 42px;
  font-size: 0.95rem;
  font-weight: 600;

  /* background: var(--color-primary);  NORMALER BUTTON */
  color: white;

  cursor: pointer;
  isolation: isolate;

  transition: transform 0.2s ease, --a 0.35s ease;
}

.btn-primary:hover {
  --a: 1; /*  HIER passiert der Hover */
  transform: scale(1.02);
}

.btn-primary::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: -1;

  filter: blur(12px) url(#goo);

  background-image: linear-gradient(0deg, var(--btn-color), var(--btn-color)),
    /* Highlight kommt NUR über --a */
      radial-gradient(
        40% 70% at calc(var(--x) * 1%) calc(var(--y) * 1%),
        rgba(240, 145, 172, var(--a)) 0%,
        transparent 90%
      );

  background-clip: content-box, border-box;
  padding: 10px 0px 10px 0px;
}
/* Primary */
.btn-primary {
  --btn-color: var(--color-primary);
}

/* Secondary */
.btn-secondary {
  --btn-color: var(--color-success);
}

/* Profilbild Bubble Animation*/
@keyframes bubbleInOut {
  0% {
    transform: scale(0.7) translateY(10px);
    opacity: 0;
  }
  20% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7) translateY(10px);
    opacity: 0;
  }
}

.animate-bubble-in-out {
  animation: bubbleInOut 3s ease forwards;
}
