/* QUIZ */
.quiz-headline {
  font-family: "Bubblegum Sans", sans-serif;
}
/* Bg für die ganze Quiz-Szene */
.quiz-scene {
  background-image: url("/quiz-card-bg-sakura.png");
  background-size: cover;
  background-position: center;
}

/* Bg für die Frage-Box */
.quiz-card-bg {
  background-image: url("/quiz-card-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 380px;
}
/* Optional: noch größer auf Desktop */
@media (min-width: 768px) {
  .quiz-card-bg {
    min-height: 460px;
  }
}

/*****
/* Farben als Klassen (statt bg-(--color-xyz) / bg-[var(...)] Stress) */
.bg-primary {
  background: var(--color-primary);
}
.bg-green {
  background: var(--color-green);
}
.bg-skyblue {
  background: var(--color-skyblue);
}
.bg-blue {
  background: var(--color-blue);
}
.bg-success {
  background: var(--color-success);
}
.bg-warnung {
  background: var(--color-warnung);
}

/* Feedback Overlay */
.feedback-overlay {
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  z-index: 20;
}

.feedback-panel {
  width: min(520px, 92%);
  border-radius: 20px;
  padding: 18px 18px 12px;
  background: var(--color-bg-vanilla);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
  text-align: center;
}

.feedback-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-Deep-Wine);
  margin-top: 20px;
  font-family: "Bubblegum Sans", sans-serif;
}

.feedback-subtitle {
  margin-top: 6px;
  font-size: 16px;
  color: var(--color-Deep-Wine);
}

.feedback-lottie {
  margin: 10px auto 0;
  width: 300px;
  height: 300px;
}

.feedback-overlay-scene {
  position: absolute;
  inset: 0;
  border-radius: 1.5rem; /* passt zu deiner Szene */
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  backdrop-filter: blur(2px);
}

.feedback-panel {
  width: min(75%);
  border-radius: 25px;
  padding: 25px;
  background: var(--color-bg-vanilla);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.feedback-title {
  font-weight: 800;
  font-size: 32px;
  color: var(--color-Deep-Wine);
}

.feedback-subtitle {
  margin-top: 6px;
  font-size: 16px;
  color: var(--color-Deep-Wine);
}

.feedback-btn {
  margin-top: 12px;
  width: 50%;
  border: 0;
  border-radius: 999px;
  padding: 10px 14px;
  background: var(--color-primary);
  color: white;
  cursor: pointer;
}
